<h2 class="title is-2">Menu</h2>
<hr>

<button
    class="button"
    [amMenuTrigger]="menu"
    #menuTrigger="amMenuTrigger"
    [placement]="placement"
>
    <span>Menu</span>
</button>

<am-menu-panel #menu="amMenu">
    <li><a (click)="selected = 'Dashboard'">Dashboard</a></li>
    <li><a (click)="selected = 'Customers'">Customers</a></li>
    <li><a (click)="selected = ''">Reset</a></li>
</am-menu-panel>

<hr>
<pre>selected: {{selected}}</pre>
<hr>

<button class="button" (click)="menuTrigger.show()">Show</button>

<hr>

<div>
    Placement:

    <am-toggle-buttons-group [(ngModel)]="placement">
        <button amToggleButton (click)="placement = 'bottom-start'" value="bottom-start">bottom-start</button>
        <button amToggleButton (click)="placement = 'bottom'" value="bottom">bottom</button>
        <button amToggleButton (click)="placement = 'left'" value="left">left</button>
        <button amToggleButton (click)="placement = 'right'" value="right">right</button>
        <button amToggleButton (click)="placement = 'top'" value="top">top</button>
    </am-toggle-buttons-group>
</div>
