<h2 class="text-3xl font-bold mb-4">Toggle Buttons</h2>

<hr>
<am-toggle-buttons-group
    (valueChange)="onChange($event)"
    [formControl]="control"
    [multiply]="true"
>
    <button amToggleButton
        *ngFor="let btn of buttons"
        [value]="btn.title"
        [checked]="btn.checked"
        [disabled]="!!btn.disabled"
    >
        <span>{{btn.title}}</span>
    </button>
</am-toggle-buttons-group>

<div>
    <pre>value: {{control.value}}</pre>
</div>

<hr>

<button class="btn" (click)="control.reset()">Clear</button>
<button class="btn" (click)="control.disabled
    ? control.enable()
    : control.disable()"
>
    {{control.disabled ? 'Enable' : 'Disable'}}
</button>
