<nav amNavbar>
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt=""> </a>
    </div>
</nav>
<br>
<div class="container">
    <hr>
    <h2 class="title is-2">Toggle Buttons</h2>
    <hr>
    <am-toggle-buttons-group
        (valueChange)="onChange($event)"
        [formControl]="control"
        [multiply]="true"
    >
        <am-toggle-button
            *ngFor="let btn of buttons"
            [value]="btn.title"
            [checked]="btn.checked"
            [disabled]="!!btn.disabled"
        >
            <span>{{btn.title}}</span>
        </am-toggle-button>
    </am-toggle-buttons-group>

    <div>
        <pre>value: {{control.value}}</pre>
    </div>

    <hr>

    <button class="button" (click)="control.reset()">Clear</button>
    <button class="button" (click)="control.disabled
        ? control.enable()
        : control.disable()"
    >
        {{control.disabled ? 'Enable' : 'Disable'}}
    </button>

    <hr>
    <h2 class="title is-2">Tabs</h2>
    <hr>

    <am-tabs-group [size]="size" [position]="position" [viewType]="viewType" [rounded]="rounded">
        <am-tab label="Tab 1">
            <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-image" aria-hidden="true"></i>
                </span> <span>Pictures</span>
            </am-tab-label>
            <h3>tab content with Pictures</h3>
        </am-tab>
        <am-tab label="Tab 2">
            <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-music" aria-hidden="true"></i>
                </span> <span>Music</span>
            </am-tab-label>

            <h3>tab content with Music</h3>
        </am-tab>
        <am-tab label="Tab 3">
            <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-film" aria-hidden="true"></i>
                </span> <span>Videos</span>
            </am-tab-label>
            <h3>tab content with Videos</h3>
        </am-tab>
    </am-tabs-group>

    <hr>

    <am-toggle-buttons-group>
        <am-toggle-button [checked]="true" (click)="position = undefined">Left</am-toggle-button>
        <am-toggle-button (click)="position = 'is-centered'">Center</am-toggle-button>
        <am-toggle-button (click)="position = 'is-right'">Right</am-toggle-button>
    </am-toggle-buttons-group>
    <hr>
    <am-toggle-buttons-group>
        <am-toggle-button [checked]="true" (click)="viewType = undefined; rounded = false">Default</am-toggle-button>
        <am-toggle-button (click)="viewType = 'is-boxed'; rounded = false">Boxed</am-toggle-button>
        <am-toggle-button (click)="viewType = 'is-toggle'; rounded = false">Toggle</am-toggle-button>
        <am-toggle-button (click)="rounded = true">Toggle-rounded</am-toggle-button>
    </am-toggle-buttons-group>

    <hr>
    <h2 class="title is-2">Panel</h2>
    <hr>

    <div style="max-width: 460px; margin: auto;">
        <am-panel>
            <am-panel-block>
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span> bulma
            </am-panel-block>
            <am-panel-block>
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span> marksheet
            </am-panel-block>
            <am-panel-block>
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span> minireset.css
            </am-panel-block>
            <am-panel-block>
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span> jgthms.github.io
            </am-panel-block>
        </am-panel>
    </div>

    <hr>
    <h2 class="title is-2">Dialog</h2>
    <hr>


    <div>
        <button class="button" (click)="add()">Add</button>
    </div>

    <hr>

    <am-panel>
        <am-panel-block *ngIf="dialogCheckedItem === 'bulma'">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span> bulma
        </am-panel-block>
        <am-panel-block *ngIf="dialogCheckedItem === 'marksheet'">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span> marksheet
        </am-panel-block>
    </am-panel>

    <br> <br>
    <hr>
    <h2 class="title is-2">Form Group | input</h2>
    <hr>

    <div style="max-width: 400px">
        <am-form-field>
            <span class="icon is-small is-left">
                 <i class="fas fa-envelope"></i>
            </span>
            <input
                placeholder="Default input"
                type="text"
                amInput
                required
                [isRounded]="false"
                [formControl]="inputControl"
                [isLoading]="inputLoading"
            >
            <am-form-error>Is Required field</am-form-error>
        </am-form-field>
    </div>


    <br>
    <hr>

    <button class="button" (click)="inputControl.markAsTouched()">Submit</button>
    <button class="button" (click)="inputControl.reset()">Reset</button>
    <button class="button" (click)="inputLoading = !inputLoading">Toggle loading</button>

</div>
