<br>
<div class="container">
    <am-toggle-buttons-group
        (valueChange)="onChange($event)"
        [formControl]="control"
        [multiply]="true"
    >
        <am-toggle-button
            *ngFor="let btn of buttons"
            [value]="btn.title"
            [checked]="btn.checked"
            [disabled]="!!btn.disabled"
        >
            <span>{{btn.title}}</span>
        </am-toggle-button>
    </am-toggle-buttons-group>

    <div>
        <pre>value: {{control.value}}</pre>
    </div>

    <button class="button" (click)="control.reset()">Clear</button>
    <button class="button" (click)="control.disabled
        ? control.enable()
        : control.disable()"
    >
        {{control.disabled ? 'Enable' : 'Disable'}}
    </button>
</div>


