<div class="page">
    <nav amNavbar>
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io" routerLink="">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt=""> </a>
        </div>
    </nav>

    <main class="main">
        <aside class="menu">
            <p class="menu-label">
                Components
            </p>
            <ul class="menu-list">
                <li>
                    <a routerLink="tabs" routerLinkActive="is-active"><strong>Tabs</strong></a>
                </li>
                <li>
                    <a routerLink="toggle-buttons" routerLinkActive="is-active"><strong>Toggle buttons</strong></a>
                </li>
                <li>
                    <a routerLink="modal" routerLinkActive="is-active"><strong>Modal</strong></a>
                </li>
                <li>
                    <a routerLink="select" routerLinkActive="is-active"><strong>Select</strong></a>
                </li>
                <li>
                    <a routerLink="menu" routerLinkActive="is-active"><strong>Menu</strong></a>
                </li>
                <li>
                    <a routerLink="accordion" routerLinkActive="is-active"><strong>Accordion</strong></a>
                </li>
            </ul>
        </aside>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

