
<div style="max-width: 320px;">
    <am-accordion-group>
        <am-accordion>
            <div amAccordionHeader>Header 1</div>
            <div amAccordionContent>
                <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using
                    <span class="badge badge-outline">collapse-open</span> and
                    <span class="badge badge-outline">collapse-close</span> classes.
                </p>
            </div>
        </am-accordion>

        <am-accordion>
            <div amAccordionHeader>Header 2</div>
            <div amAccordionContent>
                <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using
                    <span class="badge badge-outline">collapse-open</span> and
                    <span class="badge badge-outline">collapse-close</span> classes.
                </p>
            </div>
        </am-accordion>

        <am-accordion>
            <div amAccordionHeader>Header 3</div>
            <div amAccordionContent>
                <p>Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using
                    <span class="badge badge-outline">collapse-open</span> and
                    <span class="badge badge-outline">collapse-close</span> classes.
                </p>
            </div>
        </am-accordion>
    </am-accordion-group>
</div>

