<h2 class="text-3xl font-bold mb-4">Form Group | select</h2>
<br><br><br>

<div style="max-width: 320px">
    <am-form-field>
        <am-select
            placeholder="Select position"

            (valueChange)="onChange($event)"
        >
            <am-option value="Left">Left</am-option>
            <am-option value="Center">Center</am-option>
            <am-option value="Right">Right</am-option>
        </am-select>

        <am-form-error>Is Required field</am-form-error>
    </am-form-field>
</div>

<br>
<div>
    <pre>value: {{select.value}}</pre>
</div>
<br>

<button class="btn btn-sm" (click)="select.setValue('Center')">Check center</button>
<button class="btn btn-sm" (click)="select.reset()">Reset</button>

<h2 class="text-3xl font-bold my-4">Form Group | select multiply</h2>

<div style="max-width: 320px">
    <am-form-field>
        <am-select
            placeholder="Multiply select"
            [formControl]="multipleSelect"
            (valueChange)="onChange($event)"
            [multiply]="true"
        >
            <am-option value="Left" [checked]="true">Left</am-option>
            <am-option value="Center" [checked]="true">Center</am-option>
            <am-option value="Right">Right</am-option>
        </am-select>

        <am-form-error>Is Required field</am-form-error>
    </am-form-field>
</div>

<br>
<div>
    <pre>value: {{multipleSelect.value}}</pre>
</div>
<br>

<button class="btn btn-sm" (click)="multipleSelect.setValue(['Center'])">Check center</button>
<button class="btn btn-sm" (click)="multipleSelect.reset()">Reset</button>
