<h2 class="title is-2">Tabs</h2>
<hr>

<am-tabs-group [size]="size" [position]="position" [viewType]="viewType" [rounded]="rounded">
    <am-tab label="Tab 1">
        <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-image" aria-hidden="true"></i>
                </span> <span>Pictures</span>
        </am-tab-label>
        <h3><i class="fas fa-image" aria-hidden="true"></i> tab content with Pictures</h3>
    </am-tab>
    <am-tab label="Tab 2">
        <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-music" aria-hidden="true"></i>
                </span> <span>Music</span>
        </am-tab-label>

        <h3><i class="fas fa-music" aria-hidden="true"></i> tab content with Music</h3>
    </am-tab>
    <am-tab label="Tab 3">
        <am-tab-label>
                <span class="icon is-small">
                    <i class="fas fa-film" aria-hidden="true"></i>
                </span> <span>Videos</span>
        </am-tab-label>
        <h3><i class="fas fa-film" aria-hidden="true"></i> tab content with Videos</h3>
    </am-tab>
</am-tabs-group>

<hr>

<am-toggle-buttons-group>
    <am-toggle-button [checked]="true" (click)="position = undefined">Left</am-toggle-button>
    <am-toggle-button (click)="position = 'is-centered'">Center</am-toggle-button>
    <am-toggle-button (click)="position = 'is-right'">Right</am-toggle-button>
</am-toggle-buttons-group>
<hr>
<am-toggle-buttons-group>
    <am-toggle-button [checked]="true" (click)="viewType = undefined; rounded = false">Default</am-toggle-button>
    <am-toggle-button (click)="viewType = 'is-boxed'; rounded = false">Boxed</am-toggle-button>
    <am-toggle-button (click)="viewType = 'is-toggle'; rounded = false">Toggle</am-toggle-button>
    <am-toggle-button (click)="rounded = true">Toggle-rounded</am-toggle-button>
</am-toggle-buttons-group>
