<h2 class="text-3xl font-bold mb-4">Tabs</h2>

<div class="group mb-4">
    <am-tabs-group
        [size]="size"
        [viewType]="viewType"
        [formControl]="tabControl"
    >
        <am-tab label="Tab 1">
            <am-tab-label>
                <span>Pictures</span>
            </am-tab-label>
            <h3><i class="fas fa-image" aria-hidden="true"></i> tab content with Pictures</h3>
        </am-tab>
        <am-tab label="Tab 2">
            <am-tab-label>
                <span>Music</span>
            </am-tab-label>
            <h3><i class="fas fa-music" aria-hidden="true"></i> tab content with Music</h3>
        </am-tab>
        <am-tab label="Tab 3">
            <am-tab-label>
                <span>Videos</span>
            </am-tab-label>
            <h3><i class="fas fa-film" aria-hidden="true"></i> tab content with Videos</h3>
        </am-tab>
    </am-tabs-group>
</div>

<pre>
    value: {{tabControl.value}}
</pre>


<div class="my-8">
    <button class="btn btn-sm" (click)="tabControl.setValue(1)">Set first</button>
    <button class="btn btn-sm" (click)="tabControl.disable()">Disable</button>
    <button class="btn btn-sm" (click)="tabControl.enable()">Enable</button>
</div>

<am-toggle-buttons-group class="my-8">
    <button amToggleButton size="sm" (click)="size = 'xs'">Size: xs</button>
    <button amToggleButton size="sm" (click)="size = 'sm'">Size: sm</button>
    <button amToggleButton size="sm" [checked]="true" (click)="size = undefined">Size: Default</button>
    <button amToggleButton size="sm" (click)="size = 'lg'">Size: lg</button>
</am-toggle-buttons-group>

<am-toggle-buttons-group class="my-8">
    <button amToggleButton size="sm" (click)="viewType = undefined; rounded = false">Default</button>
    <button amToggleButton size="sm" (click)="viewType = 'tabs-bordered'; rounded = false">Bordered</button>
    <button amToggleButton size="sm" [checked]="true" (click)="viewType = 'tabs-lifted'; rounded = false">Lifted</button>
    <button amToggleButton size="sm" (click)="viewType = 'tabs-boxed'">Boxed</button>
</am-toggle-buttons-group>
